.bg-color{
  background-image: url('../assets/login-user-interface.jpg');
}
.col-lg-6{
  background-color: aquamarine;
}
.pad{
  padding: 50px;
}
.bg-image {
  background-image: url('../assets/login-user.jpg');
  background-size: cover;
  background-position: center;
}
.login-heading {
  font-weight: 300;
}
.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}
.grad {
	background: linear-gradient(-45deg, #c3f77b, #3893e2, #39daa6, #4553ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
