.bg-color{
  background: linear-gradient(155deg, #db5b5b, #eae04b, #7be624, #24e6df, #3124e6, #e624df, #e62481, #ff0a0a);
  background-size: 1600% 1600%;
  animation: gradient 25s ease infinite;
}
@keyframes gradient {
  0%{background-position:0% 35%}
  50%{background-position:100% 66%}
  100%{background-position:0% 35%}
}
.col-lg-6{
  background-color: aquamarine;
}
.pad{
  padding: 50px;
}
.bg-image {
  background-image: url('../../assets/sign-in.webp');
  background-size: cover;
  background-position: center;
}
.login-heading {
  font-weight: 300;
}
.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}
.grad {
	background: linear-gradient(-45deg, #c3f77b, #3893e2, #39daa6, #4553ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
